doctype 5
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title XBUS
		link(rel='stylesheet', href='./css/xbus.min.css')

		block head
	body
		div.xbus
			div.xbus__container
				div.xbus__content
					div.xbus__innerContent
						block content


