extends ../master

block append content
	h1 Denne hjemmeside er lukket
	p
		|Mangler du information om ruter eller køreplaner hos Midttrafik, NT eller Sydtrafik,
		br
		|så klik på logoet for at besøge dit trafikselskabs hjemmeside.
	ul.xbus__logolist
		li
			a(href="https://www.midttrafik.dk/koereplaner/x-busser.aspx")
				img(src="img/graphic_logo_midttrafik.png")
		li
			a(href="http://www.nordjyllandstrafikselskab.dk/default.aspx?m=2&i=56")
				img(src="img/graphic_logo_nt.png")
		li
			a(href="http://www.sydtrafik.dk/forside")
				img(src="img/graphic_logo_sydtrafik.png")